.cookie-text-ellipsis {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    #cookieReadMoreBtn {
      display: block !important;
    }
  
    .cookie-text-ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 156px;
    }
  }
  
  /*tr-cookie */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #52af52;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #52af52;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .cookie-bar {
    background: #f8f8f8;
    position: fixed;
    width: 35%;
    bottom: 0;
    right: 0;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #2125295c;
  }
  
  @media (max-width: 768px) {
    .cookie-bar {
      width: 100%;
    }
  
    .cookie-bar .input-group-lg {
      flex-direction: column;
    }
    .cookie-bar .input-group-lg button,
    .cookie-bar .input-group-lg a {
      margin-bottom: 15px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1300px) {
    .cookie-bar {
      width: 50%;
    }
  
    .cookie-bar .input-group-lg {
      flex-direction: column;
    }
    .cookie-bar .input-group-lg button,
    .cookie-bar .input-group-lg a {
      margin-bottom: 15px;
    }
  }
  
  .cookie-bar a,
  #cookieSettingsModal a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
  }
  #cookieSettingsModal #accept-all {
    text-decoration: none;
    font-weight: 800;
  }
  
  #cookieSettingsModal h4 {
    font-size: 16px;
  }
  
  #cookieSettingsModal .modal-header-customRm {
    flex-direction: row-reverse;
  }
  
  #cookieSettingsModal .cookie-modal-title h4 {
    font-weight: 700;
  }
  
  #decline-cookie:focus,
  #decline-cookie:active,
  #open-cookie-settings:focus,
  #open-cookie-settings:active {
    outline: none !important;
  }
  
  @media screen and (min-width: 1300px) {
    #decline-cookie,
    #open-cookie-settings,
    #accept-cookie {
      min-width: 135px !important;
      display: flex;
      justify-content: center;
    }
    .input-group-lg.pull-right {
      margin-left: 15px;
    }
  }
  
     /*custom table*/
     table.table-customRm {
      border-collapse: collapse;
    }
    .table-customRm {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      background-color: transparent;
    }
    .table-customRm td,
    .table-customRm th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
    .table-customRm thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
    .table-customRm tbody + tbody {
      border-top: 2px solid #dee2e6;
    }
    .table-customRm .table-customRm {
      background-color: #fff;
    }
    .table-bordered {
      border: 1px solid #dee2e6;
    }
    .table-bordered td,
    .table-bordered th {
      border: 1px solid #dee2e6;
    }
    .table-bordered thead td,
    .table-bordered thead th {
      border-bottom-width: 2px;
    }
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive > .table-bordered {
      border: 0;
    }
  
    @media print {
      /* *,
      ::after,
      ::before {
        text-shadow: none !important;
        box-shadow: none !important;
      }
  
   
      h2,
      h3,
      p {
        orphans: 3;
        widows: 3;
      }
      h2,
      h3 {
        page-break-after: avoid;
      }
     */
      .table-customRm {
        border-collapse: collapse !important;
      }
      .table-customRm td,
      .table-customRm th {
        background-color: #fff !important;
      }
      .table-bordered td,
      .table-bordered th {
        border: 1px solid #ddd !important;
      }
      a:not(.btn-customRm) {
        text-decoration: underline;
      }
      thead {
        display: table-header-group;
      }
      
      tr {
        page-break-inside: avoid;
      }
      @page {
        size: a3;
      }
    }
  
    .row-customRm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .col-customRm,
    .col-md-12-customRm,
    .col-md-2-customRm,
    .col-md-4-customRm,
    .col-md-6-customRm {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-customRm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    @media (min-width: 768px) {
      .col-md-2-customRm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-md-4-customRm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-md-6-customRm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-md-12-customRm {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  
    /* Custom Modal Css */
  
    .modal-customRm {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      display: none;
      overflow: hidden;
      outline: 0;
      background: #0000009e;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .modal-dialog-customRm {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 100%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    /* .modal-customRm.fade .modal-dialog-customRm {
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
      -webkit-transform: translate(0, -25%);
      transform: translate(0, -25%);
    } */
    .modal-content-customRm {
      margin-top: 2.5rem;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
    }
    .modal-header-customRm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
    .modal-header-customRm .close-customRm {
      padding: 1rem;
      margin: -1rem -1rem -1rem 0;
    }
    .modal-title-customRm {
      margin-bottom: 0;
      line-height: 1.5;
    }
    .modal-body-customRm {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1rem;
    }
    .modal-footer-customRm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 1rem;
      border-top: 1px solid #e9ecef;
    }
    .modal-footer-customRm > :not(:first-child) {
      margin-left: 0.25rem;
    }
    .modal-footer-customRm > :not(:last-child) {
      margin-right: 0.25rem;
    }
    @media (min-width: 576px) {
      .modal-dialog-customRm {
        max-width: 500px;
      }
    }
    @media (min-width: 992px) {
      .modal-lg-customRm {
        max-width: 800px;
      }
    }
    .fade-customRm {
      opacity: 0;
      transition: opacity 0.15s linear;
    }
    .collapse-customRm {
      display: none;
    }
  
    
    label.switch {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  dialog {
  display: block;
  }
  
  .d-flex-customRm {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  }
  .justify-content-center-customRm {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  }
  .mr-3 {
  margin-right: 1rem !important;
  }
  .text-justify-customRm {
  text-align: justify !important;
  }
  .font-weight-bold-customRm {
  font-weight: 700 !important;
  }
  
  
  
  .close-customRm {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  }
  .close-customRm:focus,
  .close-customRm:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
  }
  .close-customRm:not(:disabled):not(.disabled) {
  cursor: pointer;
  }
  button.close-customRm {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  }
  .rm_collapse_link{
  cursor: pointer;
  }
  .modal-open-customRm{
  overflow: hidden;
  }
  button {
  border-radius: 0;
  }
  button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  }
  button,
  input,
  p {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  }
  button,
  input {
  overflow: visible;
  }
  button {
  text-transform: none;
  }
  
  button {
  -webkit-appearance: button;
  }
  [type="button"]::-moz-focus-inner,
  button::-moz-focus-inner {
  padding: 0;
  border-style: none;
  }
  input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  }
  ::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  }
  
  
  .btn-customRm,
  .cookie-bar a, #cookieSettingsModal a {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-customRm:focus,
  .btn-customRm:hover {
  text-decoration: none;
  }
  
  .btn-customRm:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .btn-customRm.disabled,
  .btn-customRm:disabled {
  opacity: 0.65;
  }
  .btn-customRm:not(:disabled):not(.disabled) {
  cursor: pointer;
  }
  
  .btn-customRm:not(:disabled):not(.disabled):active {
  background-image: none;
  }
  a.btn-customRm.disabled {
  pointer-events: none;
  }
  
  @-webkit-keyframes progress-bar-stripes {
  from {
  background-position: 1rem 0;
  }
  to {
  background-position: 0 0;
  }
  }
  @keyframes progress-bar-stripes {
  from {
  background-position: 1rem 0;
  }
  to {
  background-position: 0 0;
  }
  }
  *,
  ::after,
  ::before {
  box-sizing: border-box;
  }
  @-ms-viewport {
  width: device-width;
  }
  
  @media (max-width: 992px) {
    .modal-footer-customRm .pull-left {
      width:100% !important;
      flex-direction: column;
    }
    .modal-footer-customRm #decline-all {
     margin-right: 0 !important; 
     margin-bottom: 15px;
    }
  }
  