/* Cookie Bar Styles */
#RMcookiePermissionContent {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.RM-cookie-bar {
    background-color: #000; /* Rast Mobile dark color */
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RM-cookie-logo {
    width: 75px; /* or your preferred size */
    margin-right: 15px;
}


.RM-cookie-message {
    margin: 0;
    color: #333;
}

.RM-cookie-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color:white;
}

.RM-cookie-buttons button:hover {
    background-color: #0056b3;
}
.RM-cookie-socials {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Sağ kenardan biraz boşluk */
}

.social-link {
    color: ##000000; /* veya Rast Mobile marka rengi */
    margin-left: 10px; /* ikonlar arası boşluk */
    font-size: 20px; /* İkon büyüklüğü */
    transition: color 0.7s ease; /* Renk değişimi için geçiş efekti */
}

.social-link:hover {
    color: #aaa; /* Hover durumunda ikon rengi */
}

.RM-btn-accept {
    background-color: #4CAF50; /* Rast Mobile's accent color for acceptance */
}

.RM-btn-reject {
    background-color: #f44336; /* A contrasting color for rejection */
}

.RM-btn-settings {
    background-color: #008CBA; /* A neutral color for settings */
}

/* Cookie Modal Styles */
.RM-cookie-modal {
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
}

.RM-cookie-modal-content {
    padding: 20px;
}

.RM-cookie-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RM-cookie-modal-title {
    font-size: 20px;
    margin: 0;
}

.RM-cookie-modal-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}

.RM-cookie-modal-body ul {
    list-style: none;
    padding: 0;
}

.RM-cookie-modal-footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.RM-cookie-modal-footer .RM-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.RM-btn-accept-all {
    background-color: #4CAF50; /* Yeşil renk, kabul için */
    color: white;
}

.RM-btn-accept-all:hover {
    background-color: #388E3C; /* Daha koyu bir yeşil, hover durumu için */
}

.RM-btn-reject-all {
    background-color: #f44336; /* Kırmızı renk, reddetme için */
    color: white;
}

.RM-btn-reject-all:hover {
    background-color: #D32F2F; /* Daha koyu bir kırmızı, hover durumu için */
}

.RM-cookie-modal-close {
    border: none;
    background: none;
    color: #AAAAAA;
    font-size: 24px;
    cursor: pointer;
}

.RM-cookie-modal-close:hover {
    color: #888888;
}


.RM-cookie-modal-footer button {
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.RM-cookie-modal-footer button:hover {
    background-color: #0056b3;
}
#RMcookieCategoryList table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#RMcookieCategoryList th, #RMcookieCategoryList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#RMcookieCategoryList th {
    background-color: #f2f2f2;
}

#RMcookieCategoryList button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

#RMcookieCategoryList button:hover {
    background-color: #0056b3;
}

.RM-cookie-modal-footer button {
    padding: 5px 10px;
    margin-right: 10px;
    /* Additional styling */
}
